*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: #3AAFA9;
  color: #DEF2F1;
}

.invalid{
  color: red;
}

.header{
  background-color: #17252A;
  color: #DEF2F1;
}

.list-container{
  background-color: #DEF2F1;
  border-radius: 5px;
  color: #17252A;
}

.label{
  color: #17252A;
}

.back-button,
.submit-button,
.select-button{
  background-color: #2B7A78;
  color: #17252A;
}

.success{
  background-color: #DEF2F1;
  color: #17252A;
  border-radius: 5px;
}

.numbers{
  color: #2B7A78;
}
